# Ignore Ruby-related files
*.gem
*.o
*.rbc
*.so
*.bundle
*.swp

# Files and directories created by pub
.dart_tool/
.packages
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock
# Ignore dependency and configuration files
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
Makefile
_yardoc

# Ignore coverage and documentation files
coverage/
doc/
lib/bundler/man
mkmf.log
pkg/
rdoc/
Icov-2.0/

# Ignore test and temporary files
spec/reports/
test/tmp/
test/version_tmp/
tmp/